* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

*{
    margin: 0;
    padding: 0;
    
    
}

#navbar-logo {
    width: 55px;
    height: 55px;
    border: 1px solid black;
    border-radius: 400px;
    margin-left: 20px;
}
#dashboard-container {
    display: flex;
    flex-direction: column;
}

/* Top Bar   */

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 140px;
    /* border: 2px solid blue; */
    
}

/* #first-section {
    border: 2px solid blue;
} */

#second-section {
    width: 600px;
}

#second-section > ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-family: 'Karla', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
   
}

#second-section > ul > li:hover {
    color: gray;
    cursor: pointer;
    
}

#logOut {
    margin-left: 40px;
}




/* Second bar */
#second-bar {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 5px 200px;
    border: none;
    box-shadow: 0px 12px 12px -11px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 12px -11px rgba(0, 0, 0, 0.5);
}



#first-Section-second-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#second-bar-second-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0;
    
    
}

#second-bar-second-baR {
    font-weight: 600;
}

#second-bar-second-bar > p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: rgb(28, 28, 28);

}

#second-bar-second-bar > P:hover{
    color: gray;
    cursor: pointer;

}

#myMeetings {
    font-weight: bold;
    
}

#upComingMeetings {
    margin-left: 15px;
}

.second-bar-heading {
    font-weight: 500;
}

.createBtn {
  
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;

   
    




}

.createBtn:hover{
        background: rgba(0,118,255,0.9);
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
    }


/* Meeting Container */

#myMeetingsContainer {
    /* border: 1px solid black; */
    width: auto;
    flex-wrap: wrap;
    display: flex;
    
}

#upComingMeetings a {
    text-decoration: none;
    color: rgb(28, 28, 28); ;
}



#myMeetings a {
    text-decoration: none;
    color: rgb(28, 28, 28); ;
}



.createBtn a {
    text-decoration: none;
    color: white ;
}


.createBtn a:hover {
    text-decoration: none;
    color: white ;
}


/*  */
/*  */
#upcomingMeetingsContainer {
    /* border: 2px solid blue; */
    padding: 20px 20px;
    margin: 50px 200px;
    box-shadow: 0px 12px 36px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 36px -12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}


#topBarOfUpcomingMeetings {
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


#topBarOfUpcomingMeetings > P {
    padding: 5px 10px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

/* #upcomingMeetingRow-Container {
    border: 5px solid black;
}
 */

#upComingMeetingRow-Tile {
    /* border: 3px solid red; */
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding: 15px;
    box-shadow: 0px 12px 12px -11px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 12px -11px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    border-radius: 15px;

}

.avatar {
    background-color: dodgerblue;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    padding: 0 10px ;
}

.upcomingMeetingTiming {
    padding: 0 10px;
}

.attendeeContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 0 10px;
}

.viewDetailsBtn {
    padding-left: 150px;
}